<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Consensus Proposal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: 'Barlow', sans-serif;
font-weight: 400;">
  <table border="1" cellpadding="0" cellspacing="0" width="100%">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td align="center" bgcolor="#07889B">
          <img src="../img/LOGOsConsensus.jpg" alt="Consensus logo" width="100%" height="230" style="display: block;" />
        </td>
      </tr>
      <tr>
        <td bgcolor= "#CAEBF2" style="padding: 40px 30px 40px 30px;">
          <table border="1" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td>
                Welcome to Consensus
              </td>
            </tr>
            <tr>
              <td>
                <%= proposer %> would like to know your opinion regarding the following proposal:
              </td>
            </tr>
            <tr>
              <td>
                <%= proposal %>
              </td>
            </tr>
            <tr>
              <td>
                Please read it carefully and give your feedback below
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#07889B" style="padding: 30px 30px 30px 30px;">
          <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border-color: transparent;">
            <tr>
              <td width="75%">
                &reg; Devscola 2018
                </td>
              <td align="right">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <a href="http://www.twitter.com/">
                        <img src="../img/twitter.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                      </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                    <td>
                      <a href="http://www.twitter.com/">
                        <img src="../img/facebook.png" alt="Facebook" width="35" height="35" style="display: block;" border="0" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </table>
</body>
</html>
