<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Consensus Proposal for proposer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow|Space+Mono" rel="stylesheet">
</head>
<body bgcolor= "#CAEBF2" style="margin: 0; padding: 0; font-family: 'Barlow', sans-serif;
font-weight: 400; width:100%; line-height:3em; text-align:center">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#EFEFEF">
      <div id="logo_consensus">
        <img alt="Consensus logotype" width="auto" height="80" style="display:block; float: left; margin: 0.5em" src="https://dl.dropboxusercontent.com/s/wsu2hvo5r4el97e/logo%20%281%29.png?dl=0">
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding: 5% 10%; border-top: 4px double #07889B;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="font-size:1.6em;font-family: 'Space Mono', monospace;">
            Welcome to Consensus
            <br></br>
          </td>
        </tr>
        <tr>
          <td>
            Hello {{ proposer }}, this is your proposal:
          </td>
        </tr>
        <tr>
          <td style="background-color: #EFEFEF; border: 1px solid #07889B; width: 100%; padding: 1em; margin-bottom: 1em">
            {{ proposal }}
          </td>
        </tr>
        <tr>
          <td style="line-height:5em">
            This is your circle: {{ involved }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF" style="padding: 15px 30px 15px 30px; position:absolute; bottom:0; width: 96%">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-color: transparent;">
        <tr>
          <td align="left" width="75%">
            &reg; Devscola 2018
          </td>
          <td align="right">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <a href="http://www.twitter.com/">
                    <img alt="Twitter" width="45" height="45" style="display: block;" border="0"  src="http://pngimg.com/uploads/twitter/twitter_PNG33.png" />
                  </a>
                </td>
                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                <td>
                  <a href="http://www.facebook.com/">
                    <img alt="Facebook" width="35" height="35" style="display: block; margin-right: 1.5em" border="0"  src="http://icons.iconarchive.com/icons/icons8/android/512/Social-Networks-Facebook-icon.png" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
